
<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f|%>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %> <br>


      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>  

      <%= f.submit "Save changes", class: "btn btn-primary" %><br>
    <% end %>

        <%= form_for @user, :html => {:multipart => true} do |f| %>
        <p>
        <%= f.label :upload_profile_picture %><br />
         </p>
          <p>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
        </p>
        <p><%= f.submit %></p>
         <% end %>


    <p><strong> Delete Profile: </strong> </p>
    <p><small> Please note if you delete you profile your playlist will delete forever! </small></p>
    <%= button_to "Delete Profile", @user, method: 'delete' %> <br>
   
   </div>
   </div>
