
<html>
<head>
<style>
body {
  background-image: url('<%= asset_path 'gnappy.jpg' %>');
  
}
</style>
</head>
<body>




<h1 class="text-center">Sign Up With Gnapster!</h1>




<p class="text-center">
<%= form_with model: @user do |f| %> <br>
  <%= f.label :username %><br>
  <%= f.text_field :username %> <br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "Login" %> <br>
  </p>

  <% end %>




