<h1>Sign Up!</h1>

<% if !!flash[:errors] %>
 <% flash[:errors].each do |error| %>
   <p><%= error %></p> <br>
  <% end %>
  <% end %>



<%= form_with model: @user do |f| %> <br>
  <%= f.label :username %><br>
  <%= f.text_field :username %> <br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.submit "Login" %> <br>

  <% end %>




