<h1> Hello, <%= @user.username %> </h1> 
<hr>


             <h3> My Playlist: </h3>
        <% @user.playlists.map do |playlist| %>
        
             <p> <%= playlist.name %> </p>
                      <% end %>
    
<hr>

<p>Create a new playlist </p> <br> <br>
<%= button_to "Create a new playlist", '/playlists/new', method: 'get' %>


<p> Edit profile below: </p> <br>
<%= button_to "Edit", '/users/:id/edit', method: 'get' %> <br>


<p> Log Out: </p> <br> 
<%= button_to "Log out", '/logout', method: 'delete' %><br>


