<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: rgba(98, 120, 255, 0.5);;
  color: white;
}
</style>
</head>
<body>
<br>

<h3><%= @playlist.name %></h3>

<h4><%= link_to "Add Song", '/playlist_queues/new' %></h4>
<%= button_to "🖊 Edit Playlist", edit_playlist_path(@playlist), method: 'get' %>
<br>
<br>
<table id="t01">
  <tr>
    <th><%= link_to "Song", sort: "name" %></th>
    <th><%= link_to "Album", sort: "album" %></th>               
    <th><%= link_to "Artist", sort: "artist" %></th>                      
    <th><%= link_to "Length", sort: "length" %></th>
    <th><%= link_to "Avg. Rating", sort: "avg_rating" %></th>
    <th><%= "" %></th>
  </tr>
 <% @playlist.playlist_queues.map do |pq| %>
  <tr>
    <td><%= pq.song.name%></td>
    <td><%= pq.album.name%></td>
    <td><%= pq.artist.name%></td>        
    <td><%= "#{pq.song.length.to_f/60} min" %></td>
    <td><%= pq.artist.rating %></td>
    <td><%=button_to "Delete", pq, method: 'delete' %></td>      
  </tr>
  <% end %>
 </table>