<!DOCTYPE html>
<html>
  <head>
    <title>GnapsterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 

  <% if @current_user %> 
  <br>
 <br>
 <div class="menu">
  Signed in as <%= current_user.name %> 
<% else %>
<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> | <%= link_to 'Logout', '/logout' %>
<% end %>



<footer>
<% unless root_path? %>
<%= link_to "Back", :back, :class => "navbar-brand" %>
<% end %>

</footer>
    <%= yield %>
  </body>
 
</html>
